.footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}

.contact h3 {
    margin: 0;
    font-size: 1.5rem;
}

.contact p {
    margin: 5px 0;
}

.links a {
    margin: 0 10px;
    font-size: 1.5rem;
    color: #555;
    transition: color 0.3s;
}

.links a:hover {
    color: #0073b1;
    /* Change to the brand color of the respective social media */
}

.objective p {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #666;
    line-height: 1.5;
}